body{
	background: url(fon.png);
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	margin:0px;
	padding: 0px;
}
p{
	background-color: white;
}
img{
	width: 800px;

}
.card{
	display: inline-block;
	height: 410px;
	width: 300px;
	border: 5px solid red;
	background-color: grey;
	margin-left: 30%;
}
footer{
	background-color: darkgrey;
}
