body{
	background: url(fonk.jpg);
	font-family: 'Playfair Display', serif;
}

a{
	text-decoration: none;
	background-color: orange;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
}
h1{
	text-align: center;
	background-color: blue;
}
button{
	text-align: center;
	font-size: 30px
}
div{
	width: 300px;
	height:500px;
	background-color: red ;
	border:10px solid pink;
	border-radius: 5px
	padding: 10px;
	display: inline-block;

}
.card{
	display:  inline-block;
	height: 200px;
	color: yellow;
	background-color: grey;
}
.button_spisok{
	text-decoration: none;
	background-color: orange;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;

}