img{
	width: 50%;
	height: 600px;
	margin-top: -1000px;
	margin-bottom: 100px;
	border:10px solid blue;
	border-radius: 10px
}
p{
	color: darkblue;
	background-color: yellow;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
body{
	background: url(fon.jpg);
}	
a{
	font-size: 35px;
	text-decoration: none;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin-top:20px;
}
h1{
	text-align: center;
	text-decoration: underline;
}